:root {
    --primary: rgba(11, 101, 236, 0.9);
    --h3-background-color: rgba(11, 101, 236, 0.2);
    --text-color: #6c6c6c;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body.modal-open {
    overflow: hidden;
}
footer {
    display: block;
    box-sizing: border-box;
    width: 100%;
    bottom: 0;
    margin: 0px;
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: white;
    font-size: smaller;
}
a.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}
/*----- MODALS----- */
#layout {
    display: block;
    position: fixed;
    z-index: 150;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
}
.modal-container {
    display: flex;
    justify-content: center;
}
.modal {
    box-sizing: border-box;
    margin: 40px auto;
    display: block;
    position: absolute;
    z-index: 151;
    overflow: auto;
    visibility: visible;
    opacity: 1;
    max-width: 90%;
    max-height: 90%;
    padding: 30px 40px;
    background-color: white;
    transition: all 0.3s ease;
    text-overflow: ellipsis;
    transform: translateY(0);
}
.modal .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0 0 5px 5px;
    background-color: transparent;
    font-size: 36px;
    color: rgba(0, 0, 0, 0.6);
}
.modal .close-btn:hover {
    cursor: pointer;
    color: black;
}
.modal .close-btn:focus {
    outline: none;
}

.modal img {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
}
.modal a {
    word-break: break-all;
}
.modal .mobile-screenshots-container {
    display: flex;
    justify-content: space-between;
}
.modal .mobile-screenshots-container div {
    display: block;
    max-width: 47%;

}
.modal .mobile-screenshots-container img{
    object-fit: contain;
}
@media(min-width: 576px) {
    .modal {
        width: 900px;
    }
}
@media(min-width: 992px) {
    .modal .mobile-screenshots-container div{
        max-width: 49%;
    }
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.3s ease;
}
/*---------- MODALS-------- */

/*---- NAV -----*/
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    width: 100%;
    padding: 5px 15px;
    min-height: 20px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary, blue);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-menu {
    display: none;
    width: 100%;
    justify-content: flex-end;
}
nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Cinzel', serif;
    font-weight: 700;
    margin-left: 10px;
}
.mobile-menu a, .mobile-menu p {
    display: block;
    padding: 15px 0;
    text-align: center;
    width: 90%;
    color: white;
}
.mobile-menu p {
    justify-self: flex-start;
}
.mobile-menu a:hover, .mobile-menu p:hover {
    background-color: rgba(255, 255, 255, 0.7);
}
.mobile-menu a:visited {
    color: white;
}
.main-menu a {
    color: black;
}
.main-menu a:hover, .main-menu a:visited:hover {
    color: var(--primary, blue);
}
.main-menu a:visited {
    color: black;
}

#burger-menu-btn {
    width: auto;
    height: auto;
    padding: 20px;
    margin: 0;
    border: none;
    background-color: transparent;
}
#burger-menu {
    width: 20px;
    height: 4px;
    position: relative;
    background-color: black;
}
#burger-menu::before, #burger-menu::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: black;
}
#burger-menu::before {
    top: -8px;
}
#burger-menu::after {
    top: 8px;
}
/* ----NAV----- */

section {
    padding-top: 10px;
    padding-bottom: 10px;
}
h1, h2 {
    margin: 10px 0;
}
ol, ul, p {
    margin: 8px 0;
}
h3 {
    margin: 0;
}
h1, h2 {
    font-family: 'Cinzel', serif;
}
h2 {
    text-transform: uppercase;
}
.job {
    margin-bottom: 20px;
}
.job h3 {
    padding: 5px 15px;
    background-color: var(--h3-background-color, rgba(11, 101, 236, 0.9));
}
img {
    max-width: 100%;
    height: auto;
}
button {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: none;
    background-color: var(--primary, rgba(11, 101, 236, 0.9));
    color: white;
    text-transform: uppercase;
}
button:hover {
    cursor: pointer;
}
hr {
    width: 100%;
    margin: 20px 0;
}
input, textarea {
    box-sizing: border-box;
    width: calc(100% - 6px);
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid var(--text-color, #6c6c6c);
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
}
textarea {
    resize: none;
}

p, li, span, small {
    color: var(--text-color);
}
b {
    color: black;
    margin: 0;
}

.container {
    padding: 10px;
    display: flex;
    max-width: 95%;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}
.contact {
    margin-bottom: 40px;
}
.hello, .skills, .experience, .education, .contact, .feedback {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
.hello {
    margin-top: 40px;
}
.hello .about_me {
    grid-row: 2 / 3;
}
.hello i {
    color: var(--primary);
}
.hello .photo {
    display: grid;
    grid-template-columns: 1fr;
}
.skills h3 {
    margin-top: 15px;
}
.skills .right-block {
    display: grid;
    grid-template-columns: 1fr;
}
.skills .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
}
.skills img {
    /* max-width: 60px; */
    /* position: absolute; */
}
.date_interval {
    margin: 0;
}
.job p, .job .date_interval {
    padding-left: 15px;
}
.portfolio-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
.portfolio-container img {
    min-width: 100%;
    height: 200px;
    object-fit: cover;
}
.portfolio-item {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.portfolio-item:hover {
    cursor: pointer;
    /* transform:  scale(1.1); */
    box-shadow:  1px 1px 10px rgba(0,0,0,0.5);
}
.portfolio-item .hover-text {
    display: flex;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: -50%;
    align-items: center;
    justify-content: center;
    background-color: rgb(11, 101, 236);
    color: white;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease;
}
.portfolio-item:hover .hover-text {
    bottom: 0;
    opacity: 1;
}
.portfolio-item img {
    transition: all 0.8s ease-in-out;
}

@media(min-width: 576px) {
    button {
        width: 200px;
    }
    .contact form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(min-width: 768px) {
    nav {
        padding: 15px;
        justify-content: center;
    }
    #burger-menu-btn {
        display: none;
    }
    .main-menu {
        display: flex;
    }
    .hello {
        grid-template-columns: 1fr 1fr;
    }
    .hello .about_me {
        grid-row: 1 / 2;
    }
    .skills .image-container {
        padding: 20px 60px;
    }
    button {
        margin-bottom: 10px;
    }
}
@media(min-width: 992px) {
    .container {
        width: 900px;
    }
    .hello {
        grid-template-columns: 1fr 1fr;
    }
    .hello .about_me {
        grid-row: 1 / 2;
    }
    .skills, .experience, .education, .contact, .feedback {
        grid-template-columns: 1fr 2fr;
    }
    .skills .right-block {
        grid-template-columns: 1fr 1fr;
    }
    .skills .image-container {
        grid-area: 1 / 2 / 3 / 3;
        padding: 0;
    }
    .portfolio-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(min-width: 1200px) {
    .container {
        width: 1200px;
    }
    .portfolio-container {
        grid-template-columns: repeat(4, 1fr);
    }
}


.mb-0 {
    margin-bottom: 0;
}
.mb-1 {
    margin-bottom: 5px;
}
.mb-2 {
    margin-bottom: 10px;
}
.mb-3 {
    margin-bottom: 20px;
}
.mb-4 {
    margin-bottom: 25px;
}
.mb-5 {
    margin-bottom: 30px;
}
.mb-6 {
    margin-bottom: 40px;
}

.ml-0 {
    margin-left: 0;
}
.ml-1 {
    margin-left: 5px;
}
.ml-2 {
    margin-left: 10px;
}
.ml-3 {
    margin-left: 20px;
}
.ml-4 {
    margin-left: 25px;
}
.ml-5 {
    margin-left: 30px;
}
.ml-6 {
    margin-left: 40px;
}

.mt-0 {
    margin-top: 0;
}
.mt-1 {
    margin-top: 5px;
}
.mt-2 {
    margin-top: 10px;
}
.mt-3 {
    margin-top: 20px;
}
.mt-4 {
    margin-top: 25px;
}
.mt-5 {
    margin-top: 30px;
}
.mt-6 {
    margin-top: 40px;
}

.mr-0 {
    margin-right: 0;
}
.mr-1 {
    margin-right: 5px;
}
.mr-2 {
    margin-right: 10px;
}
.mr-3 {
    margin-right: 20px;
}
.mr-4 {
    margin-right: 25px;
}
.mr-5 {
    margin-right: 30px;
}
.mr-6 {
    margin-right: 40px;
}

.pa-0 {
    padding: 0;
}

.social-links > a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    filter: grayscale(1);
}
.social-links > a:hover {
    filter: grayscale(0);
}


.feedback article img {
    position: relative;
    top: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

a {
    color: black;
}

button[disabled="true"] {
    background: #cccccc;
}
